body {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.timer {
    margin: 20px;
}

.cell {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid #fff;
}



table {
      background: gray;
      margin: auto;
      
}
    
    /* .cellID-3-0 {
        background: red;
  } */